@font-face {
  font-family: "CSBelvina";
  src: url(/fonts/CSBelvina-Regular_demo-BF669f0fb63ba84.otf) format("opentype");
}
.libre {
  font-family: Libre Caslon Text;
}
.center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
.ta-left {
  text-align: left;
}
.white {
  color: var(--Primary-Light);
}
.belvina {
  font-family: CSBelvina;
}
.seventy {
  font-size: 70px
}
h1 {
  color: var(--Primary-Dark, rgb(140, 28, 28));
  text-align: center;
  font-family: CSBelvina;
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: 74%;
  letter-spacing: -4px;
  text-transform: uppercase;
  margin: 0;
  @media screen and (max-width: 800px ) {
    font-size: 150px;
  }
  @media screen and (max-width: 600px) {
    font-size: 100px;
  }
}

h2 {
  color: var(--Primary-Dark, #8c1c1c);
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 114%;
  letter-spacing: -0.8px;
  margin: 0;
}

h3 {
  color: var(--Primary-Dark, #8c1c1c);
  font-family: "Libre Caslon Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.4px;
  margin: 0; 

}
h4 {
  color: var(--Primary-Dark, #8c1c1c);
  font-family: "Libre Caslon Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.4px;
  margin: 0; 
}

p, ul {
  color: var(--Primary-Dark, #8c1c1c);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%;
  letter-spacing: -0.8px;
  margin: 0;
  @media screen and (max-width: 550px) {
    font-size: 18px;
  }
}

.testimonial-main-text {
  color: var(--Primary-Light);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 131%;
  letter-spacing: -0.72px;
  @media screen and (max-width: 540px) {
    font-size: 18px;
  }
}
.testimonial-name {
  color: var(--Primary-Light);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%; /* 34.56px */
  letter-spacing: 0.24px;
  @media screen and (max-width: 540px) {
    font-size: 14px;
  }
}
.spiral-title {
  color: var(--Primary-Light);
  font-family: "Libre Caslon Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.4px;
  margin: 0; 
  text-align: right;
  @media screen and (max-width: 550px) {
    font-size: 25px;
  }
}
.primary-button {
  display: flex;
  width: auto;
  padding: 17px 30px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: var(--Primary-Dark);
  border: 3px solid transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  flex-shrink: 0;
}
.primary-button-dark {
  display: flex;
  width: auto;
  padding: 17px 30px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: var(--Accent-Dark);
  border: 3px solid var(--Primary-Light);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  flex-shrink: 0;
}
.primary-button:hover {
  transform: translateY(-5px) scale(103%, 103%);
}
.primary-button-dark:hover {
  transform: translateY(-5px) scale(103%, 103%);
}

.secondary-button {
  display: flex;
  padding: 17px 30px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: 3px solid var(--Primary-Dark);
  background-color: var(--Primary-Light);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  flex-shrink: 0;
}

.secondary-button:hover {
  transform: translateY(-5px) scale(103%, 103%);
}

.primary-button p {
  color: var(--Primary-Light);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.16px;
  margin: 0;
  text-align: center;
}
.primary-button-dark p {
  color: var(--Primary-Light);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.16px;
  margin: 0;
  text-align: center;
}

.secondary-button p {
  color: var(--Primary-Dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.16px;
  margin: 0;
}

.navbar {
  backdrop-filter: blur(10px);
  background: rgba(255, 244, 223, 0);
  width: calc(100% - 10px);
  position: sticky;
  position: -webkit-sticky;
  height: 62px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
  box-shadow: -4px -4px 4px 0px rgba(172, 172, 172, 0.25) inset,
    4px 4px 4px 0px rgba(172, 172, 172, 0.25) inset;
    border-radius: 999px;
    margin:0px 5px;
    padding: 10px;
    box-sizing: border-box;
}

.navbar p {
  color: var(--Primary-Dark);
  text-align: center;
  font-family: CSBelvina;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 20px;
  cursor: pointer;
}

.hamburger {
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
  background: var(--Primary-Light);
  border: 2px solid var(--Primary-Dark);
  border-radius: 999px;
  padding: 0;
}
.hamburger-x-button {
  width: 0px;
  height: 60px;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.hamburger-x-div {
  position: absolute;
  top: 0px;
  right: 0px;
  transform-origin: center center;
  width: 0px;
  margin: 0;
  height: 60px;
}

.hamburger-span {
  background: var(--Primary-Dark);
  height: 3px;
  width: 25px;
  position: absolute;
  border: none;
}

.hamburger-x-span {
  background: var(--Accent-Dark);
  height: 0px;
  position: absolute;
  border: none;
  border-radius: 2px;
  width: 0px;
  margin: 0;
  transition: background 0.5s ease;
}

.hamburger-span:nth-of-type(1) {
  transition-delay: 0s;
  animation-delay: 0s;
}
.hamburger-span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.hamburger-span:nth-of-type(3) {
  animation-delay: 0.1s;
}

@keyframes span-shrink {
  0% {
    width: 66%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 66%;
  }
}

.hamburger:hover .hamburger-span {
  animation-name: span-shrink;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.hamburger-x-button:hover .hamburger-x-span {
  background: var(--Accent-Light);
}
.spiral-div {
  width: 760px;
  height: 760px;
  border-radius: 100%;
  background: #fff4df;
  position: absolute;
  bottom: -200px;
  left: -300px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1050px) {
    width: 437px;
    height: 437px;
    bottom: -50px;
    left: -300px;
  }
  @media (max-width: 650px) {
    bottom: -200px;
    left: -200px;
  }
  @media screen and (orientation: landscape) and (max-height: 535px) {
    bottom: -200px;
    left: -200px;
  }
  @media screen and (orientation: landscape) and (max-height: 400px) {
    bottom: -200px;
    left: -300px;
  }
}

.spiral-div p {
  position: absolute;
  color: var(--Primary-Light);
  width: 40vw;
  top: -100px;
  text-align: center;
  @media (max-width: 1050px) {
    width: 400px;
  }
  @media (max-width: 450px) {
    width: 90svw;
  }
}

.axis-1 {
  transform: rotate(90deg);
}

.axis-1 p {
  transform-origin: center left;
  transform: rotate(-90deg);
}

.axis-2 {
  transform: rotate(135deg);
}

.axis-2 p {
  transform-origin: center left;
  transform: rotate(-135deg);
}

.axis-3 {
  transform: rotate(180deg);
}

.axis-3 p {
  transform-origin: center left;
  transform: rotate(-180deg);
}

.axis-4 {
  transform: rotate(225deg);
}

.axis-4 p {
  transform-origin: center left;
  transform: rotate(-225deg);
}

.axis-5 {
  transform: rotate(270deg);
}

.axis-5 p {
  transform-origin: center left;
  transform: rotate(-270deg);
}

.axis-6 {
  transform: rotate(315deg);
}

.axis-6 p {
  transform-origin: center left;
  transform: rotate(-315deg);
}

.axis-7 {
  transform: rotate(360deg);
}

.axis-7 p {
  transform-origin: center left;
  transform: rotate(-360deg);
}

.axis-8 {
  transform: rotate(45deg);
}

.axis-8 p {
  transform-origin: center left;
  transform: rotate(-45deg);
}

.menu-background {
  background-color: rgba(89, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 70px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.splotch-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 948.267px;
  @media screen and (max-width: 800px) {
    width: 500px;
    top: -150px;
  }
  @media screen and (max-width: 600px) {
    width: 300px;
    top: -40px;
  }
}

.splotch-top-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 249px;
  height: 1625.301px;
  @media screen and (max-width: 600px) {
    width: 200px;
    top: 100px;
  }
  @media screen and (max-width: 400px) {
    width: 100px;
    top: 300px;
  }
}

.dot {
  transition: scale 0.2s ease-in-out;
}

.testimonial-in-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  transition-duration: 0.8s;
}
/* .blur {
  display: flex;
  justify-content: flex-end;
  background: rgba(140, 28, 28, 0.01);
  backdrop-filter: blur(10px);
  z-index: 999;
  width: auto;
  height: 300px;
} */
