h1,
h2,
h3,
h4,
p {
  color: var(--Primary-Dark);
}

h1 {
  font-size: 144px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 144px */
  letter-spacing: -1.44px;
  margin: 0px;
}

h2 {
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 114%; /* 109.44px */
  letter-spacing: 0.96px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  color: var(--Primary-Light);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 114%; /* 72.96px */
  letter-spacing: 0.64px;
}

h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 614;
  line-height: 114%; /* 27.36px */
  letter-spacing: 0.24px;
  margin: 0px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 614;
  line-height: 114%; /* 27.36px */
  letter-spacing: 0.24px;
  margin: 0px;
}
.button-arrow {
  transition: transform 0.3s ease-in-out
}
.primary-button {
  display: inline-flex;
  padding: 10px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  background: var(--Accent-Light);
  border: 3px solid transparent;
  width: 270px;
  height: 65px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.primary-button:hover {
  border: 3px solid var(--Primary-Dark);
  transform: translateY(-5px) scale(103%, 103%)
}

.primary-button:hover .button-arrow {
  transform: translateX(5px) scale(90%, 90%);
}

.secondary-button {
  display: inline-flex;
  padding: 10px;
  margin-left: 20px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: 3px solid var(--Accent-Light);
  background-color: var(--Primary-Light);
  width: 270px;
  height: 65px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.secondary-button:hover {
  border: 3px solid var(--Primary-Dark);
  transform: translateY(-5px) scale(103%, 103%)
}

.secondary-button:hover .button-arrow {
  transform: translateX(5px) scale(90%, 90%);
}

.primary-button p {
  color: var(--Accent-Dark);
  font-family: Cinzel;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 23.04px */
  letter-spacing: 0.16px;
  margin: 7px;
}

.secondary-button p {
  color: var(--Accent-Dark);
  font-family: Cinzel;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 23.04px */
  letter-spacing: 0.16px;
  margin: 7px 10px;
}

.navbar p {
  color: var(--Primary-Light);
  text-align: center;
  font-family: Cinzel;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
  cursor: pointer;
}

.hamburger-span {
  background: var(--Primary-Light);
  height: 3px;
  width: 45px;
  position: absolute;
}

.spiral-div {
  width: 760px;
  height: 760px;
  border-radius: 100%;
  background: #fff4df;
  position: absolute;
  bottom: -200px;
  left: -300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spiral-div p {
  position: absolute;
  color: var(--Primary-Light);
  width: 40vw;
  top: -100px;
  text-align: center;
}

.axis-1 {
  transform: rotate(90deg);
}

.axis-1 p {
  transform-origin: center left;
  transform: rotate(-90deg);
}

.axis-2 {
  transform: rotate(135deg);
}

.axis-2 p {
  transform-origin: center left;
  transform: rotate(-135deg);
}

.axis-3 {
  transform: rotate(180deg);
}

.axis-3 p {
  transform-origin: center left;
  transform: rotate(-180deg);
}

.axis-4 {
  transform: rotate(225deg);
}

.axis-4 p {
  transform-origin: center left;
  transform: rotate(-225deg);
}

.axis-5 {
  transform: rotate(270deg);
}

.axis-5 p {
  transform-origin: center left;
  transform: rotate(-270deg);
}

.axis-6 {
  transform: rotate(315deg);
}

.axis-6 p {
  transform-origin: center left;
  transform: rotate(-315deg);
}

.axis-7 {
  transform: rotate(360deg);
}

.axis-7 p {
  transform-origin: center left;
  transform: rotate(-360deg);
}

.axis-8 {
  transform: rotate(45deg);
}

.axis-8 p {
  transform-origin: center left;
  transform: rotate(-45deg);
}

.crone-card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: 1px solid var(--Primary-Light);
  background-color: var(--Primary-Light);
  grid-area: crone;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.selkie-card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: 1px solid var(--Primary-Light);
  background-color: var(--Primary-Light);
  grid-area: selkie;
  justify-content: center;
  align-items: start;
  display: flex;
  overflow: hidden;
}

.triskelion-card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: 1px solid var(--Primary-Light);
  background-color: var(--Primary-Light);
  grid-area: trisk;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.leaf-card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: 1px solid var(--Primary-Light);
  background-color: var(--Primary-Light);
  grid-area: leaf;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.title-card {
  color: var(--Primary-Light);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 57.6px */
  letter-spacing: 0.4px;
  grid-area: title;
}

.box-mask {
  color: var(--Primary-Light);
  font-size: 24px;
  font-weight: 550;
}

.crone-mask {
  grid-area: crone;
}

.selkie-mask {
  grid-area: selkie;
}

.selkie-mask:hover .slide-Y:nth-of-type(1) {
  transform: translateY(-100%);
  transition-delay: 0s;
}
.selkie-mask:hover .slide-Y:nth-of-type(2) {
  transform: translateY(100%);
  transition-delay: 0.1s;
}
.selkie-mask:hover .slide-Y:nth-of-type(3) {
  transform: translateY(-100%);
  transition-delay: 0.2s;
}
.selkie-mask:hover .slide-Y:nth-of-type(4) {
  transform: translateY(100%);
  transition-delay: 0.3s;
}
.selkie-mask:hover .slide-Y:nth-of-type(5) {
  transform: translateY(-100%);
  transition-delay: 0.4s;
}
.selkie-mask:hover .slide-Y:nth-of-type(6) {
  transform: translateY(100%);
  transition-delay: 0.5s;
}

.slide-Y:nth-of-type(1) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5s;
}
.slide-Y:nth-of-type(2) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.1s;
}
.slide-Y:nth-of-type(3) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.2s;
}
.slide-Y:nth-of-type(4) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.3s;
}
.slide-Y:nth-of-type(5) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.4s;
}
.slide-Y:nth-of-type(6) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.5s;
}

.trisk-mask {
  grid-area: trisk;
}

.trisk-mask:hover .slide-across:nth-of-type(1){
  transform: translateX(100%);
  transition-delay: 0s;
}
.trisk-mask:hover .slide-across:nth-of-type(2){
  transform: translateX(100%);
  transition-delay: 0.1s;
}
.trisk-mask:hover .slide-across:nth-of-type(3){
  transform: translateX(100%);
  transition-delay: 0.2s;
}
.trisk-mask:hover .slide-across:nth-of-type(4){
  transform: translateX(100%);
  transition-delay: 0.3s;
}
.trisk-mask:hover .slide-across:nth-of-type(5){
  transform: translateX(100%);
  transition-delay: 0.4s;
}
.trisk-mask:hover .slide-across:nth-of-type(6){
  transform: translateX(100%);
  transition-delay: 0.5s;
}
.trisk-mask:hover .slide-across:nth-of-type(7){
  transform: translateX(100%);
  transition-delay: 0.6s;
}
.trisk-mask:hover .slide-across:nth-of-type(8){
  transform: translateX(100%);
  transition-delay: 0.7s;
}
.trisk-mask:hover .slide-across:nth-of-type(9){
  transform: translateX(100%);
  transition-delay: 0.8s;
}
.trisk-mask:hover .slide-across:nth-of-type(10){
  transform: translateX(100%);
  transition-delay: 0.9s;
}
.slide-across:nth-of-type(1) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5s;
}
.slide-across:nth-of-type(2) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.1s;
}
.slide-across:nth-of-type(3) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.2s;
}
.slide-across:nth-of-type(4) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.3s;
}
.slide-across:nth-of-type(5) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.4s;
}
.slide-across:nth-of-type(6) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.5s;
}
.slide-across:nth-of-type(7) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.6s;
}
.slide-across:nth-of-type(8) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.7s;
}
.slide-across:nth-of-type(9) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.8s;
}
.slide-across:nth-of-type(10) {
  transition: transform 0.5s ease-in-out;
  transition-delay: 5.9s;
}

.hero-motion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: calc(100svh - 60px);
}

.explore-motion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 80px;
  left: 20%;
}

.trisk-motion-container {
  margin-bottom: 300px;
  margin-left: 100px;
  @media (max-width: 1400px) {
    margin-left: 20px;
  }
}

.wise-motion-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 500px;
  margin-left: 80px;
  margin-bottom: 150px;
  margin-right: 470px;
}

.bento-motion-container {
  display: grid;
  grid-template-columns:
    calc(20% - 5px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px)
    calc(20% - 5px);
  grid-template-rows:
    calc(20% - 5px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px)
    calc(20% - 5px);
  grid-template-areas:
    "crone crone crone leaf title"
    "crone crone crone leaf title"
    "crone crone crone trisk trisk"
    "selkie selkie selkie trisk trisk"
    "selkie selkie selkie trisk trisk";
  gap: 10px;
  border-radius: 25px;
  background-color: #8c1c1c;
  height: 90%;
  width: 95%;
  padding: 10px;
  position: relative;
}