h1,
h2,
h3,
h4,
p {
  color: var(--Primary-Dark);
}

h1 {
  font-size: 144px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 144px */
  letter-spacing: -1.44px;
  margin: 0px;
}

h2 {
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 114%; /* 109.44px */
  letter-spacing: 0.96px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  color: var(--Primary-Light);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 114%; /* 72.96px */
  letter-spacing: 0.64px;
}

h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 614;
  line-height: 114%; /* 27.36px */
  letter-spacing: 0.24px;
  margin: 0px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 614;
  line-height: 114%; /* 27.36px */
  letter-spacing: 0.24px;
  margin: 0px;
}

.primary-button {
  display: inline-flex;
  padding: 10px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  background: var(--Accent-Light);
  border: 3px solid transparent;
  width: 270px;
  height: 65px;
  cursor: pointer;
}

.primary-button:hover {
  border: 3px solid var(--Accent-Dark);
}

.secondary-button {
  display: inline-flex;
  padding: 10px;
  margin-left: 20px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: 3px solid var(--Accent-Light);
  background-color: var(--Primary-Light);
  width: 270px;
  height: 65px;
  cursor: pointer;
}

.secondary-button:hover {
  border: 3px solid var(--Accent-Dark);
}

.primary-button p {
  color: var(--Accent-Dark);
  font-family: Cinzel;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 23.04px */
  letter-spacing: 0.16px;
  margin: 7px;
}

.secondary-button p {
  color: var(--Accent-Dark);
  font-family: Cinzel;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 23.04px */
  letter-spacing: 0.16px;
  margin: 7px 10px;
}

.navbar p {
  color: var(--Primary-Light);
  text-align: center;
  font-family: Cinzel;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
  cursor: pointer;
}

.hamburger-span {
  background: var(--Primary-Light);
  height: 3px;
  width: 45px;
  position: absolute;
}

.spiral-div {
  width: 760px;
  height: 760px;
  border-radius: 100%;
  background: #fff4df;
  position: absolute;
  bottom: -200px;
  left: -300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spiral-div p {
  position: absolute;
  color: var(--Primary-Light);
  width: 40vw;
  top: -100px; 
  text-align: center;  
}

.axis-1 {
  transform: rotate(90deg);
}

.axis-1 p {
  transform-origin: center left;
  transform: rotate(-90deg);
}

.axis-2 {
  transform: rotate(135deg);
}

.axis-2 p {
  transform-origin: center left;
  transform: rotate(-135deg);
}

.axis-3 {
  transform: rotate(180deg);
}

.axis-3 p {
  transform-origin: center left;
  transform: rotate(-180deg);
}

.axis-4 {
  transform: rotate(225deg);
}

.axis-4 p {
  transform-origin: center left;
  transform: rotate(-225deg);
}

.axis-5 {
  transform: rotate(270deg);
}

.axis-5 p {
  transform-origin: center left;
  transform: rotate(-270deg);
}

.axis-6 {
  transform: rotate(315deg);
}

.axis-6 p {
  transform-origin: center left;
  transform: rotate(-315deg);
}

.axis-7 {
  transform: rotate(360deg);
}

.axis-7 p {
  transform-origin: center left;
  transform: rotate(-360deg);
}

.axis-8 {
  transform: rotate(45deg);
}

.axis-8 p {
  transform-origin: center left;
  transform: rotate(-45deg);
}