html, body {
  margin: 0;
  padding: 0;
  font-family: Cinzel;
}

body {
  --Primary-Light: #FFF4DF;
  --Primary-Dark: #8C1C1C;
  --Accent-Light: #FAD07D;
  --Accent-Dark: #590000;
}


div#root{
  background: var(--Primary-Light);
  position: relative;
}

@font-face {
  font-family: "Hempa-Regular";
  src: local(Hempa-Regular), url("src/fonts/HempaSans-Regular-BF669dd5f885033.otf") format("opentype");
}

@font-face {
  font-family: "Hempa-Bold";
  src: local(Hempa-Bold), url("src/fonts/HempaSans-Black-BF669dd5efa957e.otf") format("opentype");
}

@font-face {
  font-family: "CSBelvina";
  src: local(CSBelvina), url("src/fonts/CSBelvina-Regular_demo-BF669f0fb63ba84.otf") format("opentype");
}
